<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>

  <link rel="stylesheet" href="{{ "css/bootstrap-reboot.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "css/layout.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "css/navbar.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "css/extra.css" | absURL }}" />
</head>
<body>

  {{ partial "header" . }}

  <div class="container">
    <h1 class="title">{{ .Site.Title }}</h1>
    <hr/>
    <div class="subtitle">{{ .Site.Params.subtitle }}</div>
    <div class="content box">{{ .Content }}</div>
    <!-- <div class="row">
      <div class="col">
        <div class="toc">
          <ul>
            {{ range .Pages }}
            <li><a href="{{ .RelPermalink }}">{{.Title}}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div> -->
  </div>

  {{ partial "footer" . }}

  </body>
</html>

