<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>

  <link rel="stylesheet" href="{{ "css/bootstrap-reboot.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "css/layout.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "css/navbar.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "css/extra.css" | absURL }}" />
</head>
<body>

  {{ partial "header" . }}

  <div class="container">
    <h1 class="title">{{ .Title }}</h1>
    <hr/>
    <div class="subtitle">{{ .Params.subtitle }}</div>
    <div class="content">{{ .Content }}</div>

    <div class="pager">
      {{ if .NextInSection }}
        <div class="previous">
          <a href="{{ .NextInSection.Permalink }}" title="{{ .NextInSection.Title }}">&larr;</a>
        </div>
      {{ end }}
      {{ if .PrevInSection }}
        <div class="next">
          <a href="{{ .PrevInSection.Permalink }}" title="{{ .PrevInSection.Title }}">&rarr;</a>
        </div>
      {{ end }}
    </div>

  </div>

  {{ partial "footer" . }}

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
  </body>
</html>
