<div style="height: 75px;"></div>
<div class="footer">
  {{ if .Site.Author.name }}{{ .Site.Author.name }}&nbsp; &#8226; &nbsp;{{ end }}
  {{ if .Site.Params.year }}{{ .Site.Params.year }}&nbsp; &#8226; &nbsp;{{ end }}
  <a href="{{ "" | absURL }}">{{ .Site.Title }}</a>
</div>


<script src="{{ "js/navbar.js" | absURL }}"></script>
