<nav class="topnav" id="mainmenu">
  <div class="branding">
    <a href="{{ "" | absURL }}">{{ .Site.Title }}</a>
  </div>

  <div class="nav-items">
    {{ range .Site.Menus.main.ByWeight }}
    {{ if .HasChildren }}
    <div class="dropdown">
      <button class="dropbtn">
        {{ .Name }} &#x25BE;</i>
      </button>
      <div class="dropdown-content">
        {{ range .Children }}
        <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
    {{ else }}
    <a class="nav-link" title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
    {{ end }}
  </div>
  <a href="javascript:void(0);" class="icon" onclick="toggleNavBar('mainmenu')">&#9776;</a>
</nav>
