

.footer {
  position:fixed;
  color: darkgray;
  font-size: smaller;
  height:35px;
  padding-top: .5em;
  background-color:#f5f5f5;
  bottom:0px;
  text-align:center;
  width:99%;
}
.footer a {
  color: inherit;
  text-decoration: none;
}

h1.title {
  padding-top: 1em;
  font-weight: 900;
  text-align: center;
}
.subtitle {
  font-size: larger;
  text-align: center;
}
.content {
  margin: 2em 1em;
  text-align: justify;
}
.title, .subtitle {
  color: #555555;
}

.box {
  padding: 1rem;
  border: solid thin lightgray;
  border-radius: 0.5rem;
  background-color: #f5f5f5;  
}

img[src*="#thumbnail"] {
  max-width: 150px;
  height: 100px;
  display: inline;
  border: solid lightgray thin;
  border-radius: 4px;
  padding: 4px;
}


.pager .next, .pager .previous {
  display: inline-block;
  margin: 1em;
  padding: 1em 0;
  border: solid 1px lightgray;
  border-radius: 0.5rem;
  background-color: #f5f5f5;  
}
.pager a {
  padding: 1em 1.5em;
  color: #555555;
  text-decoration: none;
}
.pager .next {
  float: right;
}
.pager::after {
  content: "";
  clear: both;
  display: table;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 860px;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}