.topnav {
  background-color: #f5f5f5;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #555555;
  text-align: center;
  text-decoration: none;
  padding: 24px 16px;
}
.branding a {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.nav-items a {
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.nav-items > a {
  padding: 28px 16px;
}

@media screen and (max-width: 992px) {
  .topnav a {
    padding: 14px 16px;
  }
  .nav-items > a {
    padding: 10px 16px;
  }
  .dropdown .dropbtn {
    padding: 0px 16px;
  }
  .dropdown-content a {
    padding: 0px 16px;
  }
}

/* Add an active class to highlight the current page */
.active {
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: #555555;
  padding: 28px 16px;
  background-color: inherit;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #555555;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  color: black;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  /* background-color: #ddd; */
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 992px wide, hide all links. Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 992px) {
  .nav-items a, .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 992px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
} 
